<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Travels Dashboard</title>
    <link rel="stylesheet" href="{% static 'main_app/css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/materialize_icons.css' %}">
    <script src="{% static 'main_app/js/jquery-2.2.3.js' %}"></script>
    <script src="{% static 'main_app/js/jquery-ui.js' %}"></script>
    <script src="{% static 'main_app/js/materialize.js' %}"></script>
  </head>
  <body>
    <header class="orange">
      <nav class="orange">
        <ul class="right">
          <li><a href="{% url 'main_app:travels' %}">Home</a></li>
          <li><a href="{% url 'main_app:logout' %}">Logout</a></li>
        </ul>
      </nav>
    </header>
    <h4>{{dest}}</h4>
    <main class="container section">
      {% if messages %}
      <div class="row">
      {% for message in messages %}
      <p class="red white-text col s6 offset-s3">{{message}}</p>
      {% endfor %}
      {% endif %}
      <section class="row">
        <p>{{trip.destination}}</p>
      </section>
    </main>
  </body>
</html>
